[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
"psycopg2-binary" = "*"
flask = "*"
marshmallow = "*"
flask-cors = "*"


[dev-packages]



[requires]

python_version = "3.6"
